{% extends 'base.html' %}

{% block conteudo%}
    <div class="row my-3">
        <div class="col-sm-6">
            <div class="card">
                <div class='card-title centro my-2'>
                    <h2>Música para seu clima</h2>
                </div>
                <div class="card-body">
                    <div>
                        <p class="card-title">Com base na temperatura de sua localidade podemos sugerir várias músicas perfeitas para seu clima!</p>
                    </div>
                    <div class='centro my-5'>
                        <a href="/weather/" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class='card-title centro my-2'>
                    <h2>Em Construção</h2>
                </div>
                <div class="card-body">
                    <div>
                        <p class="card-title"></p>
                    </div>
                    <div class='centro my-5'>
                        <a href="/" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}